<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<!--<div th:fragment="header"></div>-->
    <header th:fragment="header">
        <div class="header-top">
            <div class="container">
                <h2 class="site-title"><a href="">SMS</a></h2>
                <p class="site-sign">学生信息管理系统！</p>
            </div>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{index}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                        <li><a th:href="@{list_classes}" ><span class="glyphicon glyphicon-list"></span> 班级管理</a></li>
                        <li><a th:href="@{list_student}"><span class="glyphicon glyphicon-user"></span> 学生管理</a></li>
                        <li><a th:href="@{list_classes}"><span class="glyphicon glyphicon-grain"></span> 成绩管理</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img th:src="@{/img/avatar1.jpeg}"  height="20" > <span th:text="${session.username}">管理员</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{updateprofile}">个人资料</a></li>
                                <li><a th:href="@{updatepassword}">修改密码</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="login.html">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.collapse.navbar-collapse-->
            </div><!--/.container-->
        </nav>
    </header>
</body>

</html>