<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>学员管理系统</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body>

<header th:include="include/header :: header"></header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">

					<h4>
						<strong>添加学生</strong>
					</h4>
					<hr/>

					<form class="form-horizontal" th:action="@{add_student}">
						<div class="form-group">
							<label class="control-label col-md-2">学号：</label>
							<div class="col-md-3">
								<input name="stuid" type="text" class="form-control" required>
							</div>

							<label class="control-label col-md-2">姓名：</label>
							<div class="col-md-3">
								<input name="stuname" type="text" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">性别：</label>
							<div class="col-md-3">
								<input name="sex" type="text" class="form-control" required>
							</div>

							<label class="control-label col-md-2">出生日期：</label>
							<div class="col-md-3">
								<input name="birthday" type="text" class="form-control datepicker" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">班级名称：</label>
							<div class="col-md-3">
								<input name="cname" type="text" class="form-control" required>
							</div>

							<label class="control-label col-md-2">Email：</label>
							<div class="col-md-3">
								<input name="email" type="text" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">学生备注：</label>
							<div class="col-md-8">
								<textarea name="note" class="form-control" rows="5"></textarea>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" class="btn btn-primary">保存</button>
								<a th:href="@{add_student}"  class="btn btn-default">取消</a>
							</div>
						</div>
					</form>

				</div><!--/.content-->
			</div><!--/.col-md-12-->
		</div><!--/.row-->
	</div><!--/.container-->
</article>

<footer>
	<p class="copyright">
		&copy;2019 <a href="#">SMS</a> 学生信息管理系统
	</p>
</footer>

<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="plugins/layer/layer.js"></script>
<script src="plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="js/base.js"></script>
<script>
	// 日期控件
	$(".datepicker").datepicker({
		format: "yyyy-mm-dd",
		language: "zh-CN",
		todayBtn: "linked",
		todayHighlight: true,
		autoclose: true
	}).on("changeDate", function () {
		validator.element(this);
	});

	/* 表单验证 */
	// var validator = $("form").validate({
	// 	ignore: [],
	// 	rules: {},
	// 	errorPlacement: function (error, element) {
	// 		var target = $(element);
	// 		if ($(element).attr("id") === "content") {
	// 			target = $(element).closest(".col-md-12");
	// 		}
	// 		if (!target.next("div").hasClass("tooltip")) {
	// 			target.attr("title", $(error).text()).tooltip({trigger: "manual"}).tooltip("show");
	// 		}
	// 	},
	// 	unhighlight: function (element, errorClass, validClass) {
	// 		var target = $(element);
	// 		if ($(element).attr("id") === "content") {
	// 			target = $(element).closest(".col-md-12");
	// 		}
	// 		target.tooltip('destroy').removeClass(errorClass);
	// 	},
	// 	submitHandler: function (form) {
	// 		alert($(form).serialize());
	// 	}
	// });
</script>

</body>
</html>