<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>学员管理系统</title>
	<link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<header th:include="include/header :: header"></header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">

					<h4>
						<strong>添加班级</strong>
					</h4>
					<hr/>

					<form class="form-horizontal" th:action="@{add}" method="post">
						<div class="form-group">
							<label class="control-label col-md-2">班级名称：</label>
							<div class="col-md-4">
								<input id="cname" name="cname" type="text" class="form-control" required>
								<div style="color: red" th:text="${errormsg}"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2">班级描述：</label>
							<div class="col-md-4">
								<textarea id="cdesc" name="cdesc" class="form-control" rows="5"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4 col-md-offset-2">
								<button id="buttonid"  class="btn btn-primary" type="submit">保存</button>
								<a th:href="@{add_classes}" class="btn btn-default">取消</a>
							</div>
						</div>
					</form>

				</div><!--/.content-->
			</div><!--/.col-md-12-->
		</div><!--/.row-->
	</div><!--/.container-->
</article>

<footer>
	<p class="copyright">
		&copy;2019 <a href="#">SMS</a> 学生信息管理系统
	</p>
</footer>

<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="plugins/layer/layer.js"></script>
<script src="js/base.js"></script>
<!--<script src="js/jquery-3.4.1.min.js"></script>-->
<!--<script>-->
	<!--function sumbit() {-->
		<!--var cname=document.getElementById("cname");-->
		<!--var cdesc=document.getElementById("cdesc");-->
		<!--$.ajax({-->
			<!--url:'/add',-->
			<!--type:"post",-->
			<!--dataType:JSON,-->
			<!--data:{cname:cname.value,cdesc:cdesc.value},-->
			<!--success:function(data){-->
					<!--window.alert("添加成功");-->
					<!--cname.value="";-->
					<!--cdesc.value="";-->
			<!--},-->
			<!--error:function () {-->
				<!--window.alert("添加失败");-->
			<!--}-->
		<!--});-->

	<!--};-->
<!--</script>-->
</body>
</html>