<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>学员管理系统</title>
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

<header>
	<div class="header-top">
		<div class="container">
			<h2 class="site-title"><a href="">SMS</a></h2>
			<p class="site-sign">学生信息管理系统！</p>
		</div>
	</div>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
				        data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="index.html"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
					<li><a href="list_classes.html"><span class="glyphicon glyphicon-list"></span> 班级管理</a></li>
					<li class="active"><a href="list_student.html"><span class="glyphicon glyphicon-user"></span> 学生管理</a></li>
					<li><a href=""><span class="glyphicon glyphicon-grain"></span> 成绩管理</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/img/avatar1.jpeg" height="20"> 管理员
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="profile.html">个人资料</a></li>
							<li><a href="password.html">修改密码</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="login.html">退出</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.collapse.navbar-collapse-->
		</div><!--/.container-->
	</nav>
</header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">

					<h4>
						<strong>添加学生</strong>
					</h4>
					<hr/>

					<form class="form-horizontal" action="#">
						<div class="form-group">
							<label class="control-label col-md-2">学号：</label>
							<div class="col-md-3">
								<input type="text" class="form-control" required>
							</div>

							<label class="control-label col-md-2">姓名：</label>
							<div class="col-md-3">
								<input type="text" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">性别：</label>
							<div class="col-md-3">
								<input type="text" class="form-control" required>
							</div>

							<label class="control-label col-md-2">出生日期：</label>
							<div class="col-md-3">
								<input type="text" class="form-control datepicker" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">班级名称：</label>
							<div class="col-md-3">
								<input type="text" class="form-control" required>
							</div>

							<label class="control-label col-md-2">Email：</label>
							<div class="col-md-3">
								<input type="text" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">学生备注：</label>
							<div class="col-md-8">
								<textarea class="form-control" rows="5"></textarea>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" class="btn btn-primary">保存</button>
								<a href="list_student.html" class="btn btn-default">取消</a>
							</div>
						</div>
					</form>

				</div><!--/.content-->
			</div><!--/.col-md-12-->
		</div><!--/.row-->
	</div><!--/.container-->
</article>

<footer>
	<p class="copyright">
		&copy;2019 <a href="#">SMS</a> 学生信息管理系统
	</p>
</footer>

<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/plugins/layer/layer.js"></script>
<script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="assets/js/base.js"></script>
<script>
	// 日期控件
	$(".datepicker").datepicker({
		format: "yyyy-mm-dd",
		language: "zh-CN",
		todayBtn: "linked",
		todayHighlight: true,
		autoclose: true
	}).on("changeDate", function () {
		validator.element(this);
	});

	/* 表单验证 */
	var validator = $("form").validate({
		ignore: [],
		rules: {},
		errorPlacement: function (error, element) {
			var target = $(element);
			if ($(element).attr("id") === "content") {
				target = $(element).closest(".col-md-12");
			}
			if (!target.next("div").hasClass("tooltip")) {
				target.attr("title", $(error).text()).tooltip({trigger: "manual"}).tooltip("show");
			}
		},
		unhighlight: function (element, errorClass, validClass) {
			var target = $(element);
			if ($(element).attr("id") === "content") {
				target = $(element).closest(".col-md-12");
			}
			target.tooltip('destroy').removeClass(errorClass);
		},
		submitHandler: function (form) {
			alert($(form).serialize());
		}
	});
</script>

</body>
</html>