<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>学员管理系统</title>
	<link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<header th:include="include/header :: header"></header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">

					<h4>欢迎使用《学生信息管理系统》</h4>
					<hr>

					<div class="panel panel-default">
						<div class="panel-heading">
							<b>运行环境信息</b>
						</div>
						<table class="table table-bordered">
							<tr>
								<td class="active text-center" width="150">运行环境</td>
								<td>
									Java(TM) SE Runtime Environment 1.8.0_161-b12
								</td>
							</tr>
							<tr>
								<td class="active text-center">内存消耗</td>
								<td>

									<div class="progress m-b-0">
										<div class="progress-bar progress-bar-info"
										     aria-valuemin="0"
										     aria-valuemax="100"
										     aria-valuenow="18.08"
										     style="width:18.08%">
											<span>18.08 %</span>
										</div>
									</div>
									<span>71.78M</span> /
									<span>397.0M</span>
								</td>
							</tr>
						</table>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<b>服务器信息</b>
						</div>
						<table class="table table-bordered">
							<tr>
								<td class="active text-center" width="150">服务器名称</td>
								<td>
									localhost [0:0:0:0:0:0:0:1]
								</td>
							</tr>
							<tr>
								<td class="active text-center">操作系统</td>
								<td>
									Windows 10 64 CN  zh
								</td>
							</tr>
							<tr>
								<td class="active text-center">用户目录</td>
								<td>/</td>
							</tr>
							<tr>
								<td class="active text-center">服务器时间</td>
								<td>
									Tue Nov 13 22:12:28 CST 2018 Asia/Shanghai
								</td>
							</tr>
						</table>
					</div>

				</div><!--/.content-->
			</div><!--/.col-md-12-->
		</div><!--/.row-->
	</div><!--/.container-->
</article>

<footer>
	<p class="copyright">
		&copy;2019 <a href="#">SMS</a> 学生信息管理系统
	</p>
</footer>

<script th:src="@{/js/jquery-1.12.4.min.js}" ></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:src="@{/js/base.js}"></script>

</body>
</html>