<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>学员管理系统</title>
	<link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
	<link th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}"  rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<header th:include="include/header :: header"></header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">

					<h4>
						<strong>学生管理</strong>
						<a class="btn btn-info btn-xs"th:href="@{toadd_student}">
							<span class="glyphicon glyphicon-plus"></span> 添加
						</a>
					</h4>
					<hr/>

					<form class="form-inline m-t-15 m-b-10">
						<div class="form-group form-group-sm">
							<label>学号：</label>
							<input type="text" class="form-control" size="8">
						</div>
						<div class="form-group form-group-sm">
							<label>姓名：</label>
							<input type="text" class="form-control" size="5">
						</div>
						<div class="form-group form-group-sm">
							<label>性别：</label>
							<select class="form-control">
								<option value="-1">-请选择-</option>
								<option value="0">女</option>
								<option value="1">男</option>
							</select>
						</div>
						<div class="form-group form-group-sm">
							<label>出生日期：</label>
							<input type="text" class="form-control datepicker" size="10">
							<span class="text-muted">-</span>
							<input type="text" class="form-control datepicker" size="10">
						</div>
						<div class="form-group form-group-sm">
							<label>所属班级：</label>
							<select class="form-control">
								<option value="-1">-请选择-</option>
								<option value="1">19计本</option>
							</select>
						</div>
						<div class="form-group form-group-sm">
							<button type="submit" class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-search"></span> 搜索
							</button>
						</div>
					</form>

					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
							<tr>
								<th><input type="checkbox" class="checkAll"></th>
								<th>编号</th>
								<th>学号</th>
								<th>姓名</th>
								<th>性别</th>
								<th>出生日期</th>
								<th>班级名称</th>
								<th>Email</th>
								<th>学生备注</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="stu:${list}">
								<td><input type="checkbox" class="checkItem"></td>
								<td th:text="${stu.id}">1</td>
								<td th:text="${stu.stuid}">080606110</td>
								<td th:text="${stu.stuname}">唐僧</td>
								<td th:text="${stu.sex}">男</td>
								<td th:text="${stu.birthday}">1995-06-01</td>
								<td th:text="${stu.email}">123@qq.com</td>
								<td th:text="${stu.note}">Good</td>
								<td>
									<a th:href="@{/update_classes(id=${stu.id})}">修改</a>&nbsp;&nbsp;
									<a th:href="@{/deleteById(id=${stu.id})}" onclick="javascript:return del();">删除</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>

					<div class="text-center">
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>

				</div><!--/.content-->
			</div><!--/.col-md-12-->
		</div><!--/.row-->
	</div><!--/.container-->
</article>

<footer>
	<p class="copyright">
		&copy;2019 <a href="#">SMS</a> 学生信息管理系统
	</p>
</footer>



<script th:src="@{//plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}" ></script>
<script th:src="@{/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
<script th:src="@{/js/jquery-1.12.4.min.js}" ></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:src="@{/js/base.js}"></script>
<script>
	// 日期控件
	$(".datepicker").datepicker({
		format: "yyyy-mm-dd",
		language: "zh-CN",
		todayBtn: "linked",
		todayHighlight: true,
		autoclose: true
	});

	function del() {
		var msg = "您真的确定要删除吗？\n\n请确认！";
		if (confirm(msg)==true){
			return true;
		}else{
			return false;
		}
	}
</script>

</body>
</html>