<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>学员管理系统</title>
	<link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<header>
	<div class="header-top">
		<div class="container">
			<h2 class="site-title"><a href="">SMS</a></h2>
			<p class="site-sign">学生信息管理系统！</p>
		</div>
	</div>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
				        data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{index}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
					<li><a th:href="@{list_classes}" ><span class="glyphicon glyphicon-list"></span> 班级管理</a></li>
					<li><a th:href="@{list_student}"><span class="glyphicon glyphicon-user"></span> 学生管理</a></li>
					<li><a th:href="@{list_classes}"><span class="glyphicon glyphicon-grain"></span> 成绩管理</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img th:src="@{/img/avatar1.jpeg}"  height="20" > <span th:text="${session.username}">管理员</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="profile.html">个人资料</a></li>
							<li><a href="password.html">修改密码</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="login.html">退出</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.collapse.navbar-collapse-->
		</div><!--/.container-->
	</nav>
</header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">

					<h4>
						<strong>班级管理</strong>
						<a class="btn btn-info btn-xs" th:href="@{add_classes}">
							<span class="glyphicon glyphicon-plus"></span> 添加
						</a>
					</h4>
					<hr/>

					<form class="form-inline m-t-15 m-b-10" >
						<div class="form-group form-group-sm">
							<label>班级名称：</label>
							<input name="id" id="id" type="text" class="form-control">
						</div>
						<div class="form-group form-group-sm">
							<input type="button" onclick="findById()" class="btn btn-primary btn-sm"
							value="搜索">
						</div>
					</form>

					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
							<tr>
								<th><input type="checkbox" class="checkAll"></th>
								<th>编号</th>
								<th>班级名称</th>
								<th>班级描述</th>
								<th></th>
							</tr>
							</thead>
							<tbody id="list_result">
							<tr th:each="classInfo:${list}">
								<td><input type="checkbox" class="checkItem"></td>
								<td th:text="${classInfo.id}">1</td>
								<td th:text="${classInfo.cname}">19计本</td>
								<td th:text="${classInfo.cdesc}">19计算机本科</td>
								<td>
									<!--<button  class="btn btn-default btn-xs" title="修改">-->
										<!--<span  class="glyphicon glyphicon-pencil"></span> 修改-->
									<!--</button>-->
									<!--<button th:href="@{/delete(id=${classInfo.id})}" class="btn btn-danger btn-xs" title="删除">-->
										<!--<span class="glyphicon glyphicon-trash"></span>删除-->
									<!--</button>-->
									<a th:href="@{/update_classes(id=${classInfo.id})}">修改</a>&nbsp;&nbsp;
									<a th:href="@{/delete(id=${classInfo.id})}" onclick="javascript:return del();">删除</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>

					<div class="text-center">
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>

				</div><!--/.content-->
			</div><!--/.col-md-12-->
		</div><!--/.row-->
	</div><!--/.container-->
</article>

<footer>
	<p class="copyright">
		&copy;2019 <a href="#">SMS</a> 学生信息管理系统
	</p>
</footer>

<script th:src="@{/js/jquery-1.12.4.min.js}" ></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:src="@{/js/base.js}"></script>
<script>
	// $(function () {
    //
	// 	$(".btn-danger").click(function () {
	// 		var msg = "删除学生会连同其成绩一起删除，并且删除后不可恢复，您确定要删除该学生吗？";
	// 		layer.confirm(msg, {"icon": 3}, function () {
	// 			layer.msg("已删除！");
	// 		});
	// 		return false;
	// 	});
    //
	// });
    function del() {
        var msg = "您真的确定要删除吗？\n\n请确认！";
        if (confirm(msg)==true){
            return true;
        }else{
            return false;
        }
    }

	function findById() {
		var id = $("#id").val();
		var res = $.ajax({
			url:"/findById/"+id,
			type:"get",
			dataType:"json",
			success:function (data) {

				var html = '';
					html += "<tr >" +
					"<td><input type=\"checkbox\" class=\"checkItem\"></td>\n" +
					"<td >"+data['id']+"</td>\n" +
					"<td >"+data['cname']+"</td>\n" +
					"<td >"+data['cdesc']+"</td>\n" +
					"<td>\n" +
					"<a href=\"/update_classes?id="+data['id']+"\">修改</a>&nbsp;&nbsp;\n" +
					"<a href=\"/delete?id="+data['id']+"\" onclick=\"javascript:return del();\">删除</a>\n" +
					"</td>\n" +
					"</tr>\n";
				$("#list_result").html(html);
			}
		});

	}
</script>

</body>
</html>