<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>学员管理系统</title>
	<link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<header th:include="include/header :: header"></header>
<article>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">

					<h4>
						<strong>班级管理</strong>
						<a class="btn btn-info btn-xs" th:href="@{add_classes}">
							<span class="glyphicon glyphicon-plus"></span> 添加
						</a>
					</h4>
					<hr/>

					<form class="form-inline m-t-15 m-b-10" >
						<div class="form-group form-group-sm">
							<label>班级名称：</label>
							<input name="cname" id="cname" type="text" class="form-control">
						</div>
						<div class="form-group form-group-sm">
							<input type="button" onclick="findByCname()" class="btn btn-primary btn-sm"
							value="搜索">
						</div>
					</form>

					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
							<tr>
								<th><input type="checkbox" class="checkAll"></th>
								<th>编号</th>
								<th>班级名称</th>
								<th>班级描述</th>
								<th></th>
							</tr>
							</thead>
							<tbody id="list_result">
							<tr th:each="classInfo:${list}">
								<td><input type="checkbox" class="checkItem"></td>
								<td th:text="${classInfo.id}">1</td>
								<td th:text="${classInfo.cname}">19计本</td>
								<td th:text="${classInfo.cdesc}">19计算机本科</td>
								<td>
									<a th:href="@{/update_classes(id=${classInfo.id})}">修改</a>&nbsp;&nbsp;
									<a th:href="@{/delete(id=${classInfo.id})}" onclick="javascript:return del();">删除</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>

					<div class="text-center">
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>

				</div><!--/.content-->
			</div><!--/.col-md-12-->
		</div><!--/.row-->
	</div><!--/.container-->
</article>

<footer>
	<p class="copyright">
		&copy;2019 <a href="#">SMS</a> 学生信息管理系统
	</p>
</footer>

<script th:src="@{/js/jquery-1.12.4.min.js}" ></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:src="@{/js/base.js}"></script>
<script>
    function del() {
        var msg = "您真的确定要删除吗？\n\n请确认！";
        if (confirm(msg)==true){
            return true;
        }else{
            return false;
        }
    }

	function findByCname() {
		var cname = $("#cname").val();
		var res = $.ajax({
			url:"/findByCname/"+cname,
			type:"get",
			dataType:"json",
			success:function (data) {
				var html = '';

				for (var i = 0; i < data.length; i++) {
					var d = data[i];
					//d.cname
					//d['cname']
					//data[i].cname
					//data[i]['cname']
					html += "<tr >" +
							"<td><input type=\"checkbox\" class=\"checkItem\"></td>\n" +
							"<td >"+data[i]['id']+"</td>\n" +
							"<td >"+d['cname']+"</td>\n" +
							"<td >"+data[i].cdesc+"</td>\n" +
							"<td>\n" +
							"<a href=\"/update_classes?id="+data[i]['id']+"\">修改</a>&nbsp;&nbsp;\n" +
							"<a href=\"/delete?id="+data[i]['id']+"\" onclick=\"javascript:return del();\">删除</a>\n" +
							"</td>\n" +
							"</tr>\n";
				}

				$("#list_result").html(html);
			}
		});
	}
</script>

</body>
</html>