<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input value="id"  name="id" type="hidden" required>
图书名称：<input value=""  name="bookname"/><br>
作者：<input value=""  name="author"/><br>
价格：<input value=""  name="price"/><br>
<input onclick="upd()" type="button" value="确定" />
</body>
</html>
<script src="js/jquery-1.12.4.min.js" ></script>
<script>
    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
    $(function get() {
        var id = GetQueryString("id");

        $.ajax({
            url:'/findById/'+id,
            type:"get",
            async:false,
            dataType:"json",
            success:function(data){
                $("input[name='id']").val(data.id);
                $("input[name='bookname']").val(data.bookname);
               $("input[name='author']").val(data.author);
                $("input[name='price']").val(data.price);
            },
            error:function (data) {
                alert("search error");
            }
        });
    });
    //修改
    function upd() {
        var id=$("input[name='id']").val();
        var bookname=$("input[name='bookname']").val();
        var author=$("input[name='author']").val();
        var price=$("input[name='price']").val();
        $.ajax({
            url:'/updatebook/',
            type:"put",
            async:false,
            data:{id:id,bookname:bookname,author:author,price:price},
            dataType:"text",
            success:function(data){
                console.log(data);
                if(data != 0){
                    alert("修改成功");
                    window.location.href='/book';
                }else{
                    alert("修改失败");
                }
            },
            error:function (data) {
                alert("修改失败");
            }
        });
    };
</script>