<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
图书名称：<input name="bookname"/><br>
作者：<input name="author"/><br>
价格：<input name="price"/><br>
<input onclick="add()" type="button" value="确定" />
</body>
</html>
<script src="js/jquery-1.12.4.min.js" ></script>
<script>
    //修改
    function upd(noticeid) {
        var notitle=$("input[name='notitle']").val();
        var text=$("input[name='text']").val();
        $.ajax({
            url:'/notice/update/'+id,
            type:"put",
            async:false,
            data:{},
            success:function(data){
                $("#notitle").val(notitle);
                $("#text").val(text);
            },
            error:function (data) {
                alert("修改失败");
            }
        });
    };
</script>