/*
 * Globals
 */
body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, "Microsoft YaHei", serif;
	font-size: 14px;
	color: #555;
	background: #f0f0f0 url("../img/bg.jpg");
}

a, .btn {
	transition: all 0.1s linear;
}

.m-t-15 {
	margin-top: 15px;
}

.m-b-0 {
	margin-bottom: 0;
}

.m-b-5 {
	margin-bottom: 5px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-b-15 {
	margin-bottom: 15px;
}

.m-b-25 {
	margin-bottom: 25px;
}

.navbar {
	border-radius: 0 !important;
}

.dropdown.hover:hover > .dropdown-menu {
	display: block;
}

.dropdown.hover:hover > a .caret,
.nav > li.open > a:focus .caret {
	transform: rotate(180deg);
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	vertical-align: middle;
}

.form-inline > .form-group {
	margin-bottom: 5px;
}

/*
 * Pages
 */
.site-title {
	color: #337ab7;
}

.site-sign {
	font-size: 16px;
}

.site-title a {
	text-decoration: none;
}

article {
	min-height: 500px;
}

.content {
	margin-bottom: 20px;
	padding: 50px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
	transition: all 0.2s linear;
}

footer {
	margin-top: 15px;
	padding: 25px 0 15px;
	font-size: 13px;
	border-top: 1px solid #ddd;
}

footer .copyright {
	text-align: center;
	color: #8a6d3b;
}

.scrollbar {
	position: fixed;
	top: 48%;
	right: 1px;
	z-index: 99;
	list-style: none;
	color: #ddd;
}

/*
 * Login
 */
.login-half-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
	background-color: #e7e7e7;
}

.login-half-bg .cover {
	height: 40%;
	background-color: #337ab7;
}

.login-form {
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	position: relative;
	margin: 10% auto 0;
	padding: 50px;
	width: 380px;
	background-color: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 29px 148px 103px rgba(0, 0, 0, 0.05), 0 29px 95px 0 rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 29px 148px 103px rgba(0, 0, 0, 0.05), 0 29px 95px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 29px 148px 103px rgba(0, 0, 0, 0.05), 0 29px 95px 0 rgba(0, 0, 0, 0.16);
}

.login-form label {
	color: #666;
}

.login-head {
	padding-bottom: 20px;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.login-captcha {
	padding: 0;
	cursor: pointer;
}

.login-captcha img {
	height: 32px;
}

@media (max-width: 410px) {
	.login-form {
		width: auto;
	}
}

/*
 * Validate & Tooltip
 */
form .tooltip.top .tooltip-arrow {
	border-top-color: #ed5565 !important;
}

form .tooltip.right .tooltip-arrow {
	border-right-color: #ed5565 !important;
}

form .tooltip-inner {
	background-color: #ed5565 !important;
}
