<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.StuMapper" >

    <resultMap id="stuMap" type="com.example.demo.entity.Stu" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="stuid" property="stuid" jdbcType="INTEGER" />
        <result column="stuname" property="stuname" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="VARCHAR" />
        <result column="cname" property="cname" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
    </resultMap>


    <!--列表-->
    <select id="list" resultMap="stuMap">
    select * from student
</select>
    <insert id="add">
    insert into student values(null,#{stuid},#{stuname},#{sex},#{birthday},#{cname},#{email},#{note})
</insert>
    <delete id="delete">
    delete from student where id=#{id}
</delete>
    <select id="findById" resultMap="stuMap">
        select * from student where  id=#{id}
    </select>
    <select id="findByStuId" resultMap="stuMap">
        select * from student where  stuid=#{stuid}
    </select>
    <!--<select id="userLogin" parameterType="user" resultType="User">-->
        <!--SELECT *-->
        <!--FROM user WHERE username = #{username} AND password = #{password}-->
    <!--</select>-->
    <update id="update">
    update student set stuid=#{stuid},stuname=#{stuname},
                        sex=#{sex},birthday=#{birthday},
                        cname=#{cname},email=#{email},
                        note=#{note}
     where id=#{id}
</update>
</mapper>